<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="authors" content=""/>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="og:keywords" content=""/>
  <meta name="og:title" content=""/>
  <meta name="og:description" content=""/>
  <title>ColourLib</title>
  <link href="/css/style.css" rel="stylesheet"/>
  <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script></script>
<script src="/javascript/index.js"></script>
</body>
</html>
